<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Task One</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <header>
      <div class="navbar-container">
        <p class="tagline">
          "Our instrument is creativity, our mission is making websites"
        </p>
        <button class="hamburger" aria-label="Toggle navigation">
          <div></div>
          <div></div>
          <div></div>
        </button>
        <nav class="navbar">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about-us">About</a></li>
            <li><a href="#works">Works</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
          </ul>
        </nav>
      </div>
    </header>
  </body>
</html>
