{% extends "base.html" %} {% block content %}
<section class="logo-section">
  <div class="logo-container">
    <img src="/static/logo.png" alt="Creative Monkeys Logo" class="logo" />
  </div>
  <blockquote class="quote">
    <p>
      Design is in everything we make, but it's also between those things. It's
      a mix of craft, science, storytelling, propaganda, and philosophy.
    </p>
    <cite>– Erik Adigard</cite>
  </blockquote>
</section>

<section class="works-section">
  <h1 class="section-title">
    <span>Proud to</span> make <span>them</span> unique
  </h1>
  <div class="works-container">
    <div class="work-item">
      <img src="/static/p1.jpg" alt="WeGraphics" class="work-image" />
      <h3>WeGraphics.net</h3>
      <p>
        WeGraphics is a creative studio specializing in the creation of graphic
        design resources. We do our best to provide high-quality products that
        our members can use for their commercial projects.
      </p>
      <a href="#" class="read-more">Read more</a>
    </div>
    <div class="work-item">
      <img src="/static/p2.jpg" alt="PVMGarage" class="work-image" />
      <h3>PvmGarage.com</h3>
      <p>
        PVM Garage is a Web Design Blog Community that spreads good and fresh
        resources for web designers and developers. This website includes a
        Community News Section, a Web Design News Aggregator and a lot more
        awesome stuff for your inspiration.
      </p>
      <a href="#" class="read-more">Read more</a>
    </div>
    <div class="work-item">
      <img src="/static/p3.jpg" alt="W9Template" class="work-image" />
      <h3>W9Template.net</h3>
      <p>
        In this tutorial I’ll show you how to create a textured web layout,
        starting from the concept on paper to Photoshop design. You’ll also find
        a free high-quality texture to use in your web projects.
      </p>
      <a href="#" class="read-more">Read more</a>
    </div>
  </div>
</section>

<section class="about-section">
  <h1 class="about-title"><span>Born to be</span> creative</h1>
  <div class="about-container">
    <div class="about-item">
      <h3>Who are we</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus rerum ex
        provident, dolorem atque animi cupiditate expedita deserunt eaque odio
        ab? Tempora labore illo quidem unde? Officia porro et excepturi odit
        repudiandae quisquam nulla necessitatibus voluptate aut iure! Pariatur
        voluptate sunt quae est! Magni.
      </p>
    </div>
    <div class="about-item">
      <h3>Our services</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia accusamus
        inventore sed blanditiis iure natus vitae vero maxime adipisci corrupti
        saepe nostrum accusantium, excepturi optio id impedit sapiente illo
        illum. Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        Doloremque in obcaecati dolorem sapiente cumque numquam tene.
      </p>
    </div>
  </div>
</section>

<section class="lower-bar">
  <div class="lowerbar-container">
    <p class="tagline">
      Do you like our works? Do you like our philosophy?
      <a href="#">Contact us!</a>
    </p>
  </div>
</section>
{% endblock %}
