{% include "header.html" %}
{% block content %}

<div class="contact-form">
    <h3>User Form</h3>
    <form method="post">
        {% csrf_token %}
      <div>
        <label for="">Value1</label>
        <input type="text" name="num1" value="{{n1}}"/>
      </div>
      <div>
        <label for="">Value2</label>
        <input type="text" name="num2" value="{{n2}}" />
      </div>
      <div>
        <button type="submit">Save</button>
      </div>

      <input type="text" value="{{output}}"/>

    </form>
  </div>

{% endblock %}
{% include "footer.html" %}
